.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./music_background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat","Sans-serif";
  text-align: center;
  font-weight: 500;
  color: #fff;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


body,
html,
#root {
  height: 100%;

}

html {
  font-size: 10px;

}

h1 {
  padding: 0.77rem 0;
  background-color: #b16d22;
  text-align: center;
  font-family: "Montserrat", "Sans-serif";
  color: #fff;
  font-size: 1.88rem;
}

h1 .highlight {
  color: rgb(46, 113, 218);
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-family: "Montserrat","Sans-serif";
  font-size: 1.55rem;
}

.App-playlist{
  display: flex;
  justify-content: space-between;

}
@media only screen and (max-width:1020px){
  .App-playlist {
      align-items: center;
      flex-direction: column;
  
    }
}